#wordsWrapper {

  #paceCaret {
    display: none;
  }

  #caret {
    display: none;
  }

  #words {
    /* Actual words are hidden when musical staff is shown. */
    .word {
      display: none;
    }
  }

  #staveContainer {
    .stave.inactive {
      opacity: 0.5;
    }

    .vf-annotation {
      opacity: 0;
      transition: opacity 0.2s ease;
    }

    .vf-annotation.show {
      opacity: 1;
    }
  }
}
