#wordsWrapper {
  #paceCaret {
    display: none;
  }
  #caret {
    display: none;
  }
  #words {
    /* Actual words are hidden when musical staff is shown. */
    .word {
      display: none;
    }
  }
}
